.section-about{
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-block{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 40px;
}

.about-block-image{
  width: 100%;
  margin: 0;
  background-image: url("images/about-section-image.avif");
  height: 446px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.about-block-info{
  width: 100%;
  margin: 0;
  height: auto;
}

.about-card{
  height: auto;
  border-radius: 30px;
  background-color: #968C83;
  padding: 40px 20px;
}

.about-title {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 24px;
}

.about-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -.02em;
  margin-bottom: 20px;
  margin-top: 0px;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 48px;
  border-radius: 16px;
  text-decoration: none;
  background-color: #EFE9E3;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, .15);
  font-size: 14px;
  line-height: 1.28;
  font-weight: 500;
  margin-top: 40px;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.about-link:hover {
  background-color: #3C2A21;
  color: #fff9f4;
}


@media screen and (min-width: 768px) {
  .about-card{
    border-radius: 50px;
    padding: 80px 60px;
  }

  .about-title{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: .92;
  }

  .about-text{
    font-size: 16px;
    line-height: 1.25;
  }

  .about-block-image{
  background-position: 100% 40%;
  }

  .section-about{
  padding-top: 40px;
  padding-bottom: 40px;
}
}

@media screen and (min-width: 1280px) {

.about-block{
  flex-direction: row;
  gap: 40px;
}

.about-block-image, .about-block-info {
  width: 50%;
}

.about-block-image{
  height: auto;
 }

 .section-about{
  padding-top: 50px;
  padding-bottom: 50px;
}
}